<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>


    <body class="home">


        <header>

        
                
                <img src="/images/logo-mercado-liebre.svg" alt="">
                
              
         
     
 
            <section>
     
                <form action=""><input type="text" placeholder="Buscar productos, marcas y algo mas..."> </form>   
                <i class="fas fa-search"></i>
 
            </section>
 
          
           <h4><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y con tarjeta de credito</h4>
           
     
                
          
          
            <nav>
                <ul> 
                    <li> 
                        <a href="">Ofertas</a>
                    </li>
                    <li> 
                        <a href="">Tiendas oficiales</a>
                    </li>
                    <li>
                       <a href="">Vender</a>
                    </li>
                    <li> 
                       <a href="">Ayuda</a>
                    </li>
                </ul>
            </nav>
            <nav >
                <ul>
                   <li>
                       <a href="">Crea tu cuenta</a><i class="far fa-id-card"></i>
                    </li>
                    <li>
                        <a href="">Ingresa</a><i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="">Mis compras</a><i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            </nav>
     
          
 
 
          <div class="burger">
          <i class="fas fa-bars"></i>
          </div>
 
 
 
                 
         <img class="banner" src ="/images/img-home-banner.jpg" alt="">
                 
 
     
     
 
        </header>




        <main>
            <h4>Seccion: Basado en tu última visita</h4>

                 <div>
                   <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div>
                        <i class="fas fa-truck"></i>
                        <h1 class="precio">$6.770</h1>
                        <h2 class="descuento"> 40% OFF</h2>
                        <h3 class="descripcion">Cafetera Moulinex</h2></div>
                 </div>
             
    
                 <div>
                   <img src="/images/img-macbook-pro-2019.jpg" alt="">
                     <div>
                         <i class="fas fa-truck"></i>
                         <h1 class="precio">$230.000</h1>
                         <h2 class="descuento">20% OFF</h2>
                         <h3 class="descripcion">MacBook Pro 2019</h2>
                   </div>
                 </div>
                   
  
                 <div>
                   <img src="/images/img-samsung-galaxy-s10.jpg" alt=""> 
                   <div>
                        <i class="fas fa-truck"></i>                  
                        <h1 class="precio">$70.500</h1>
                        <h2 class="descuento">10% OFF</h2>
                        <h3 class="descripcion">Samsung Galaxy S10</h2>
                   </div>                
                 </div>
                 
             
    
                 <div>
                     <img src="/images/img-tv-samsung-smart.jpg" alt="">                     
                     <div>
                        <i class="fas fa-truck"></i>                        
                        <h1 class="precio">$23.200</h1>
                        <h2 class="descuento">5% OFF</h2>
                        <h3 class="descripcion">SmartTv Samsung 43"</h2>                
                    </div>                
                  </div>
             
        
             <h4>Sección de Ofertas</h4>
                 <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="">
                     <div>                    
                       <i class="fas fa-truck"></i>
                       <h1 class="precio">$6.770</h1>
                       <h2 class="descuento">40% OFF</h2>
                       <h3 class="descripcion">Cafetera Moulinex</h2> 
                    </div>
                </div>
                 
              
    
                  <div>
                     <img src="/images/img-macbook-pro-2019.jpg" alt="">
                       <div>
                         <i class="fas fa-truck"></i>                   
                         <h1 class="precio">$230.000</h1>
                         <h2 class="descuento">20% OFF</h2>
                         <h3 class="descripcion">MacBook Pro 2019</h2>
                       </div>
                  </div>
              
  
                  <div>
                   <img src="/images/img-samsung-galaxy-s10.jpg" alt=""> 
                      <div>
                          <i class="fas fa-truck"></i>      
                          <h1 class="precio">$70.500</h1>
                         <h2 class="descuento">10% OFF</h2>
                         <h3 class="descripcion">Samsung Galaxy S10</h2>
                   </div>                  
                    
                </div>
              
    
                 <div>
                   <img src="/images/img-tv-samsung-smart.jpg" alt="">
                      <div>
                          <i class="fas fa-truck"></i>
                          <h1 class="precio">$23.200</h1>
                          <h2 class="descuento">5% OFF</h2>
                          <h3 class="descripcion">SmartTv Samsung 43"</h2>
                       </div>
                 </div>
              

    
    
         </main>
    


        <footer>
         <div>

        
            <section>
                <a href="" class="tarjeta"><i class="far fa-credit-card"></i></a>
            </section>
            
            <h4>Pagá con tarjeta o en efectivo</h4>
        
       
            <article>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
             puntos de pago. ¡Y siempre es seguro!
            </article>

    
        
             <section>
                <a href=""class="regalo"><i class="fas fa-gift"></i></i></a>
             </section>
            
             <h4>Envío gratis desde $ 2.500</h4>
        
    

             <article>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
             productos. Es un beneficio de Mercado Puntos</article>
    
             
             
             <section>
                <a href=""class="Seguridad"><i class="fas fa-user-shield"></i></a>
             </section>
            
             <h4> Seguridad, de principio a fin</h4>
        

        

             <article>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.
              </article>


             <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </div>


    </footer>


    </body>

    
</html>