<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="registro" >
    <header>

        <div class="superior">
         <img src="/images/logo-mercado-liebre.svg" alt="">


         
            <div class="buscador">
             <form><input type="text" class="nav-search-input" aria-label="Ingresá lo que quieras encontrar"
                 name="as_word" placeholder="Buscar productos, marcas y más…" maxlength="120" autofocus=""
                 autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="2">
                 <a href="" class="boton"><i class="fas fa-search"></i></a></form>
         
            </div>
            
             
             
           
         
        </div>

        <h4><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y con tarjeta de credito</h4>


    


<div class="listas">

 <nav class="lista izquierda">
     <ul>
         <li>
             <a href="">Ofertas</a>
         </li>
         <li>
             <a href="">Tiendas oficiales</a>
         </li>
         <li>
             <a href="">Vender</a>
         </li>
         <li>
             <a href="">Ayuda</a>
         </li>
     </ul>
 </nav>
 <nav class="lista derecha">
     <ul>
         <li>
             <a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i>
         </li>
         <li>
             <a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i>
         </li>
         <li>
             <a href="">Mis compras</a><i class="fas fa-shopping-basket"></i>
         </li>
     </ul>
 </nav>
</div>






     <div class="burger">
         <i class="fas fa-bars"></i>
     </div>




     <img class="banner" src="/images/img-home-banner.jpg" alt="">





 </header>
    <main class="form">
        <h1>Registro de Usuario</h1>
        <form action="/register" method="POST">
            <section class="formulario">
                <div>
                    <input type="text" name="nombreyapellido" placeholder="Nombre y apellido">
                </div>
                <div>
                    <input type="text" name="nombredeusuari@" placeholder="Nombre de usuario">
                </div>
                <div>
                    <input type="email" name="E-mail" placeholder="E-mail">
                </div>
                <div>
                    <input type="text" name="domicilio" placeholder="Domicilio">
                </div>
                <div>
                    <p>Fecha de nacimiento</p>
                    <input type="date" name="fecha">
                </div>
            </section>
            <section class="checking">
                <div>
                    <p>Perfil del Usuario</p>
                    <input type="radio" name="cv" value="c"> Comprador
                    <input type="radio" name="cv" value="v"> Vendedor
                </div>
                <div>
                    <p>Intereses</p>
                    <input type="checkbox" name="electro" id="electro">
                    <label for="electro">Electro</label><br>
                    <input type="checkbox" name="moda" id="moda">
                    <label for="moda">Moda</label><br>
                    <input type="checkbox" name="hogar" id="hogar">
                    <label for="hogar">Hogar</label><br>
                    <input type="checkbox" name="jugueteria" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label><br>
                    <input type="checkbox" name="vidasana" id="vidasana">
                    <label for="vidasana">Vida sana</label>
                </div>
            </section>

            <div class="foto">
                <p>Foto del usuario</p>
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
            </div>
            <section class="datos">
                <div class="password">
                    <input type="password" name="contrasena" placeholder="Contraseña">
                </div>
                <div class="passrepeat">
                    <input type="password" name="confirmarcontrasena" placeholder="Confimar contraseña">
                </div>
            </section>
            </section>
            <div class="botones">
                <button class="enviar" type="submit">Enviar</button>
                <button class="reset" type="reset">Borrar</button>
            </div>
        </form>
    </main>
    <footer>
        <div>


            <section>
                <a href="" class="tarjeta"><i class="far fa-credit-card"></i></a>
            </section>

            <h4>Pagá con tarjeta o en efectivo</h4>


            <article>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </article>



            <section>
                <a href="" class="regalo"><i class="fas fa-gift"></i></i></a>
            </section>

            <h4>Envío gratis desde $ 2.500</h4>



            <article>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos</article>



            <section>
                <a href="" class="Seguridad"><i class="fas fa-user-shield"></i></a>
            </section>

            <h4> Seguridad, de principio a fin</h4>




            <article>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </article>


            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </div>


    </footer>


</body>


</html>
