.home header {
    background-color: #eac926;
    width: 90%;
    
  }
  /*menu hamburguesa*/
  
  .home header div i {
    background-color: #03264c;
    color: white;
    margin-left: 50%;
    border-radius: 1px;
    padding: 9px;
    margin-bottom: 10px;
  }
  
   header section i {
    margin-left: 18px;
    background-color: #ebebeb;
    border-radius: 5px;
  
    padding: 4px;
    border: black solid 1px;
  }
  
   header h4 {
    font-family: "Roboto", sans-serif;
  }
  
   header h4 i {
    margin: 5px;
  }
  
   header nav ul li {
     display: flex;
    font-family: "Roboto", sans-serif;
    display: none;
  }
  
   header ul li i {
    margin-left: 10px;
  }







  @media(min-width:769px) {
    header {
      display: flex;
      flex-direction: column;
    }
     header img {
      flex-direction: column;
      width: 50%;
      position: relative;
    }
    header section {
      width: 50%;
      position: relative;
    }
  
    header div i {
      display: none;
    }
     header img.banner {
      width: 100%;
      display: block;
    }
     header nav ul li {
      display: block;
    }


  }