.home {
    background-color: #ebebeb;
  }
  
  .home main {
    align-content: center;
    border: #ebebeb solid 1px;
    width: 90%;
  }
  .home main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }

  .home main section article {
    background-color: white;
    font-family: "Roboto", sans-serif;
    
    width: 90%;
    
    
  }
  
  .home main section article div {
    border: #ebebeb solid 1px;
  }
  
  .home main section article div img {
    width: 90%;
  }
  
 
  
  .home main section article div i {
    color: green;
    padding: 0px;
    margin: 0px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-left: 60%;
  }
  
  /* */
  .home main h4 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #666;
    text-align: center;
    width: 100%;
  }
  
  /* precio*/
  .home main section article h1 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin: 3px;
    padding: 3px;
    padding-left: 15px;
    padding-bottom: 0px;
    width: 30%;
    position: relative;
  }
  /* descuento*/
  .home main section article h2 {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: green;
    margin: 3px;
    padding: 3px;
    padding-left: 15px;
    padding-top: 0px;
    width: 70%;
    position: relative;
  }
  /* desctripcion*/
  .home main section article h3 {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #666;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin: 3px;
  }
  .home main section div div {
    align-items: baseline;
    display: flex;
  }



  @media (min-width: 425px){
    .home main section article{
       width: 45%;
       margin:0%auto;
       box-shadow: 0px 0px 10px rgb(100, 100, 100);
       margin-bottom: 15px;
    }

 }


  @media (min-width: 769px) {
 
    .home main section article{
        width: 20%;
        
     }
 
  
     }
 