
 header{background-color:#EAC926;}

 header img {display: center;} 


 .header  div{
     text-align: center;
     display: inline-block;

 }

.header section h4 {
    font-family:'Roboto', sans-serif;
}
.header section nav ul li {
    font-family:'Roboto', sans-serif; 
}
.home {background-color: #ebebeb;}


.home main div img {
    width: 100%;
}


.home main h1{
    
    font-size: 18px;
    font-family: 'Roboto', sans-serif
}

.home main h2{
    
      font-size: 16px;
      font-family: 'Roboto', sans-serif}



.home main #descuento{
    
    font-size: 16px;
    font-family: 'Roboto', sans-serif ;

}




.home main h4{
       font-family:  'Roboto', sans-serif;
       font-size: 24px;
   } 


   
    .home footer {
        background-color:  #ebebeb;
        display: inline-block;
    }

   .home footer div h4{
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;

    
   }
   .home footer div article{
    font-size: 12px;
    font-family:'Roboto', sans-serif;
    text-align: center;
   }


   .home footer div a{ 
    color:#1259c3;;
    text-align: center;
    display: block;}

    
   